{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ],
    [
      "@babel/plugin-proposal-private-property-in-object",
      {
        "loose": false
      }
    ],
    [
      "@babel/plugin-transform-class-properties",
      {
        "loose": false
      }
    ],
    [
      "@babel/plugin-transform-private-methods",
      {
        "loose": false
      }
    ]
  ]
}
